<p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="true" [baseZIndex]="100000"> 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.url" style="width: 100%; display: block;"/>
    </ng-template>

    <ng-template pTemplate="thumbnail" let-item>
        <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.url" style="display: block; "/>
        </div>
    </ng-template>
</p-galleria>

<div *ngIf="images" class="p-grid" style="max-width: 400px;">
    <div *ngFor="let image of images; let index = index;" class="p-col-3" key="index">
        <img [src]="image.url" style="cursor: pointer;" (click)="imageClick(index)" />
    </div>
</div>
<!-- 

<div class="card">
    <div class="card-header card-header-danger">List Des Documents Uploader</div>
    <div class="card-body">
        <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
            <li class="list-group-item">

            </li>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-9">
                    <a target="_blank" href="{{ file.url }}" style="color: black;"
                        (click)="viewFile(file.name)">{{ file.name }}</a>

                    <div style="white-space: pre">
                        <embed src="{{ file.url }}"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-danger" (click)="openModal(template)"></button>
                    </div>
                </div>
            </div>
            <ng-template #template>

                <div class="modal-header">
                    <h5 class="modal-title">CONFIRMATION</h5>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer ce document : <br> {{file.name}}.</p>
                </div>

                <div class="modal-footer">

                    <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                        (click)="modalRef.hide()">NON</button>

                    <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
                        (click)="deleteFile(file.name)">OUI</button>

                </div>

            </ng-template>
        </ul>

    </div>

</div> -->