<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Liste Des</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>

                    <br>

                    <div class="card-body">


                        <html>

                        <head>
                            <meta charset="utf-8">
                            <title>FACTURE</title>
                            <link rel="stylesheet" href="style.css">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                            <script src="script.js"></script>
                        </head>

                        <body>
                            <header>
                                <h1>FACTURE</h1>
                                <br>
                                <address contenteditable>
                                    <p>Jonathan Neal</p>
                                    <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
                                    <p>(800) 555-1234</p>
                                </address>
                                <span><img alt="" src="assets\\images\\loginsST.png" width="20%"></span>
                            </header>
                            <article>
                                <h1>Recipient</h1>
                                <address contenteditable>
                                    <p>Stade Tunisien</p>
                                    <div *ngIf="transaction.joueur != null">
                                        {{transaction.joueur.nom}}{{transaction.joueur.prenom}}
                                    </div>
                                    <div *ngIf="transaction.parent != null">
                                        {{transaction.parent.nom}} {{ transaction.parent.prenom }}
                                    </div>
                                    <div *ngIf="transaction.joueur != null && *ngIf="transaction.parent != null"></div>
                                    <br>{{transaction.typeClient}}

                                </address>
                                <table class="meta">
                                    <tr>
                                        <th><span contenteditable>Invoice #</span></th>
                                        <td><span contenteditable>{{transaction.id}}</span></td>
                                    </tr>
                                    <tr>
                                        <th><span contenteditable>Date</span></th>
                                        <td><span contenteditable> {{transaction.dateTransaction| date:'shortDate'}},
                                                {{transaction.dateTransaction| date:'shortTime'}}</span></td>
                                    </tr>
                                    <tr>
                                        <th><span contenteditable>Amount Due</span></th>
                                        <td><span id="prefix" contenteditable>$</span><span>600.00</span></td>
                                    </tr>
                                </table>
                                <table class="inventory">
                                    <thead>
                                        <tr>
                                            <th><span contenteditable>Produit</span></th>
                                            <th><span contenteditable>Type</span></th>
                                            <th><span contenteditable>Taille</span></th>
                                            <th><span contenteditable>Quantité</span></th>
                                            <th><span contenteditable>Prix</span></th>
                                            <th><span contenteditable>Remise</span></th>
                                            <th><span contenteditable>Prix Final</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let a of achat">
                                            <td><a class="cut">-</a><span contenteditable>{{a.produit.libelle}}</span>
                                            </td>
                                            <td><span contenteditable>{{a.type}}</span></td>
                                            <td><span contenteditable>{{a.taille}}</span></td>
                                            <td><span contenteditable>{{a.quantite}}</span></td>
                                            <td><span>{{a.produit.prix}}</span> <span data-prefix> TND </span></td>
                                            <td><span>{{a.montantRemise}}</span><span data-prefix> % </span></td>
                                            <td><span>{{a.montantApresRemise}}</span> <span data-prefix> TND </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a class="add">+</a>
                                <table class="balance">
                                    <tr>
                                        <th><span contenteditable>Total</span></th>
                                        <td><span>{{transaction.totalAvantRemise}}</span><span data-prefix> TND</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span contenteditable>Remise</span></th>
                                        <td><span contenteditable>{{transaction.totalRemise}}</span><span data-prefix>
                                                %</span></td>
                                    </tr>
                                    <tr>
                                        <th><span contenteditable>Apres Remise</span></th>
                                        <td><span>{{transaction.totalApresRemise}}</span><span data-prefix> TND</span>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <aside>
                                <h1><span contenteditable>Additional Notes</span></h1>
                                <div contenteditable>
                                    <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
                                </div>
                            </aside>
                        </body>

                        </html>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>