<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Autorisations Utilisateur</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <td>
                                <button routerLink="/utilisateurs" pButton pRipple label="Retour" type="button"
                                    class="p-button-success"></button>
                            </td>
                        </ng-template>

                    </p-toolbar>

                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>
                                    Autorisations de l'utilisateur <strong> {{utilisateur}}</strong>
                                </h3>
                            </div>
                        </div>
                        <p-table [value]="autorisations" styleClass="p-datatable-striped" [responsive]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:50%" class="text-center">Menu</th>
                                    <th style="width:25%" class="text-center" pSortableColumn="consultation">
                                        Consultation <p-sortIcon field="consultation">
                                        </p-sortIcon>
                                    </th>
                                    <th style="width:25%" class="text-center" pSortableColumn="edition">Edition
                                        <p-sortIcon field="edition"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-autorisation>
                                <tr [pSelectableRow]="autorisation">
                                    <td class="text-center">{{autorisation.tache.libelle}}</td>
                                    <td class="text-center"><span class="p-column-title">Consultation</span>
                                        <button [hidden]="!autorisation.consultation" pButton type="button"
                                            icon="pi pi-check" class="p-button-rounded p-button-success"
                                            (click)="updateConsultation(autorisation)"></button>
                                        <button [hidden]="autorisation.consultation" pButton type="button"
                                            icon="pi pi-times" class="p-button-rounded p-button-danger"
                                            (click)="updateConsultation(autorisation)"></button>
                                    </td>
                                    <td class="text-center"><span class="p-column-title">Edition</span>
                                        <button [hidden]="!autorisation.edition" pButton type="button"
                                            icon="pi pi-check" class="p-button-rounded p-button-success"
                                            (click)="updateEdition(autorisation)"></button>
                                        <button [hidden]="autorisation.edition" pButton type="button" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger"
                                            (click)="updateEdition(autorisation)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>