::ng-deep .p-inputnumber-buttons-stacked .p-inputnumber-input {
  width: 100%;
}

// ::ng-deep .p-inputnumber .p-inputnumber-input {
//   width: 100%;
// }

// .p-inputnumber-buttons-horizontal .p-inputnumber-input{
//     width: 100%;
// }
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;
}
