<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Modification Borne</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Information Borne" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Réference" type="text" name="ref"
                                            [(ngModel)]="borne.reference">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Numéro" type="number" name="timer"
                                            [(ngModel)]="borne.numeroEnvoi">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Timer veille" type="number" name="timer"
                                            [(ngModel)]="borne.timer">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Ip" type="text" name="ip" [(ngModel)]="borne.ip">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Port" type="text" name="com"
                                            [(ngModel)]="borne.communication">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Capacité CashBox" type="number" name="cc"
                                            [(ngModel)]="borne.capaciteBillets">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Seuil Max CashBox" type="number" name="sc"
                                            [(ngModel)]="borne.seuilMaxBillets">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Longeur initiale ruban" type="number" name="lr"
                                            [(ngModel)]="borne.longueurRuban">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Seuil min ruban" type="number" name="minruban"
                                            [(ngModel)]="borne.seuilMinRuban">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="openModal(template)">Valider</button>
                            <button routerLink="/bornes" mat-raised-button type="button"
                                class="btn btn-success pull-right" style="margin-right: 1%;">ANNULER</button>
                            <div class="clearfix" style="margin-bottom : 3%"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement cette borne.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateBorne()">OUI</button>

    </div>

</ng-template>