<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 5%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Ajouter Borne</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form>

                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Information Borne" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Réference" type="text" name="ref"
                                            [(ngModel)]="borne.reference">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Ip" type="text" name="ip" [(ngModel)]="borne.ip">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Port" type="text" name="com"
                                            [(ngModel)]="borne.communication">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="FTP username" type="text" name="un"
                                            [(ngModel)]="borne.ftpUsername">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="FTP password" type="text" name="pd"
                                            [(ngModel)]="borne.ftpPassword">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="margin-top: 5%;">Capacité CashBox
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-inputNumber name="billets" [(ngModel)]="borne.capaciteBillets"
                                        [showButtons]="false" mode="decimal"></p-inputNumber>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="margin-top: 5%;">Seuil Max CashBox
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-inputNumber name="sbillets" [(ngModel)]="borne.seuilMaxBillets"
                                        [showButtons]="false" mode="decimal"></p-inputNumber>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="margin-top: 5%;">Longeur initiale ruban
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-inputNumber name="ruban" [(ngModel)]="borne.longueurRuban" [showButtons]="false"
                                        mode="decimal"></p-inputNumber>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 style="margin-top: 5%;">Seuil min ruban
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-inputNumber name="ruban" [(ngModel)]="borne.seuilMinRuban" [showButtons]="false"
                                        mode="decimal"></p-inputNumber>
                                </div>
                            </div>
                            <br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="openModal(template)">AJOUTER</button>
                            <button routerLink="/bornes" mat-raised-button type="button"
                                class="btn btn-success pull-right" style="margin-right: 1%;">ANNULER</button>
                            <div class="clearfix" style="margin-bottom : 3%"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement ce borne.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateBorne()">OUI</button>

    </div>

</ng-template>