<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div style="float: left;">
              <img src="assets\\images\\loginsST.png" style="width: 35px;float: left; margin-right: 10px;">
              <div style="float: left;">
                <h4 class="card-title">Modification Utilisateur</h4>
                <p class="card-category">STADE TUNISIEN</p>
              </div>
            </div>
          </div>

          <div class="card-body">
            <form>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Information Utilisateur" disabled>
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" name="nom" [(ngModel)]="user.nom">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="user.prenom">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Téléphone" type="text" name="telephone" [(ngModel)]="user.telephone">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Selectionner role " disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-6" style="margin-top: 1%;">
                  <p-multiSelect [options]="listRole" [showToggleAll]="false" name="roles" [(ngModel)]="user.roles"
                    optionLabel="designation" [virtualScroll]="true" [filter]="true" [itemSize]="34"
                    class="multiselect-custom-virtual-scroll">
                    <ng-template let-role pTemplate="item">
                      <div class="country-item">
                        <div>{{role.designation}}</div>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Informations De Connexion" disabled>
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" type="text" name="username" [(ngModel)]="user.username">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                (click)="openModal(template)">Valider</button>
              <button routerLink="/utilisateurs" mat-raised-button type="button" class="btn btn-success pull-right"
                style="margin-right: 1%;">ANNULER</button>
              <div class="clearfix" style="margin-bottom : 3%"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #template>

  <div class="modal-header">
    <h5 class="modal-title">CONFIRMATION</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir modifier définitivement cet utilisateur.</p>
  </div>

  <div class="modal-footer">

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

    <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
      (click)="ngOnUpdateUtilisateur()">OUI</button>

  </div>

</ng-template>