<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <br><br><br>
      <img src="./assets/images/loginsST.png"
        style="width: 25%; display: block; margin-left: auto; margin-right: auto;">
      <!-- <br><br>
      <h1 class="h2" style="text-align: center;">STADE TUNISIEN</h1> -->
      <br>
      <form #f="ngForm" (ngSubmit)="onLogin(f.value, template)">
        <div class="form-content">
          <div class="form-group">
            <input type="text" name="username" ngModel class="form-control input-underline input-lg"
              placeholder="Nom d'utilisateur">
          </div>
          <br>
          <div class="form-group">
            <input type="password" name="password" ngModel class="form-control input-underline input-lg"
              placeholder="Mot de passe">
          </div>
        </div>
        <br><br>
        <div style="text-align: center;">
          <button style="margin-right: 5%;" pButton type="reset" label="Annuler" class="p-button-danger"></button>

          <button pButton type="submit" label="Connecter" class="p-button-success"></button>

        </div>
        <ng-template #template>
          <div class="modal-header">
            <h5 class="modal-title"><strong>Problème d'authentification</strong></h5>
          </div>
          <div class="modal-body">
            <div class="text-center">
              Veillez verifier votre nom d'utilisateur et/ou votre mot de passe!
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Fermer</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</div>