<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Historique Arrêts Caisse</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">



                        </ng-template>

                        <ng-template pTemplate="right">

                        </ng-template>
                    </p-toolbar>

                    <div class="card-body">

                        <p-table #dt [value]="arrets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" styleClass="p-datatable-striped"
                            [responsive]="true">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="dateArret" class="text-center">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Date arrêt
                                            <p-sortIcon field="dateArret"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th pSortableColumn="caissier.nomUtilisateur" class="text-center">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Caissier
                                            <p-sortIcon field="caissier.nomUtilisateur"></p-sortIcon>
                                            <p-columnFilter type="text" field="caissier.nomUtilisateur" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th style="width: 14rem;" class="text-center">
                                        Détails
                                    </th>
                                    <th pSortableColumn="montantCaisse" class="text-center">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Total
                                            <p-sortIcon field="montantCaisse"></p-sortIcon>
                                            <p-columnFilter type="text" field="montantCaisse" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="montantCaisseBorne" class="text-center">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Total Borne
                                            <p-sortIcon field="montantCaisseBorne"></p-sortIcon>
                                            <p-columnFilter type="text" field="montantCaisseBorne" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-arret>
                                <tr [pSelectableRow]="arret">
                                    <td><span class="p-column-title">Date
                                            arrêt</span>{{arret.dateArret | date:'dd-MM-yyyy'}}
                                        <br>
                                        {{arret.dateArret | date:'HH:mm:ss'}}
                                    </td>
                                    <td><span class="p-column-title">Caissier</span>{{arret.caissier.nomUtilisateur}}
                                    </td>
                                    <td><span class="p-column-title">Détails</span>
                                        Ventes: {{arret.montantVente}} TND <br>
                                        Retours: {{arret.montantRetour}} TND <br>
                                        Donations: {{arret.montantDon}} TND
                                    </td>
                                    <td><span class="p-column-title">Total</span>{{arret.montantCaisse}} TND</td>
                                    <td><span class="p-column-title">Total Borne</span>{{arret.montantCaisseBorne}} TND
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>