<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png" style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Livraison Achats</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="card-body">
                        <form (keydown.enter)="findLivraisons()">
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID transaction" type="text" name="idTransaction"
                                            [(ngModel)]="idTransaction" autofocus>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="findLivraisons()" mat-raised-button
                                        icon="pi pi-external-link" class="btn btn-success">Chercher</button>
                                    <button type="button" (click)="clearLivraisons()" mat-raised-button
                                        icon="pi pi-external-link" class="btn btn-danger"
                                        style="margin-right: 2%;">Réinitialiser</button>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="submitted && !exist" class="row text-center">
                                <div class="col-md-12 p-error">
                                    Aucun retour.
                                </div>
                            </div>
                            <div *ngIf="exist" class="row text-center">
                                <div class="col-md-12">
                                    <p-table #dt [value]="livraisons" [paginator]="true" [rows]="10"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                        [rowsPerPageOptions]="[10,25,50]" selectionMode="single"
                                        [(selection)]="selectedLivraison" styleClass="p-datatable-striped"
                                        [responsive]="true">

                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th pSortableColumn="dateCreation">Date achat<p-sortIcon
                                                        field="dateCreation">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="article.libelle">Article <p-sortIcon
                                                        field="article.libelle">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="taille">Taille <p-sortIcon field="taille">
                                                    </p-sortIcon>
                                                </th>
                                                <th pSortableColumn="quantite">Quantité <p-sortIcon field="quantite">
                                                    </p-sortIcon>
                                                </th>
                                                <th>
                                                    <button *ngIf="tout" [disabled]="!edition" type="button"
                                                        (click)="validerTout()" pButton icon="pi pi-external-link"
                                                        label="Valider Tout" class="p-button-success"></button>
                                                </th>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="body" let-livraison>
                                            <tr [pSelectableRow]="livraison">
                                                <td><span class="p-column-title">Date
                                                        achat</span>{{livraison.dateCreation | date:'dd-MM-yyyy HH:mm:ss'}}
                                                </td>
                                                <td><span
                                                        class="p-column-title">Article</span>{{livraison.article.libelle}}
                                                </td>
                                                <td><span
                                                        class="p-column-title">Taille</span>{{livraison.taille | taillepipe}}
                                                </td>
                                                <td><span class="p-column-title">Quantité</span>{{livraison.quantite}}
                                                </td>
                                                <td>
                                                    <button [disabled]="!edition"
                                                        *ngIf="!livraison.validation && livraison.article.categoryTaille!='UNIQUE'"
                                                        type="button" style="margin-right: 5px;"
                                                        (click)="showDialog(livraison.id,livraison.taille,livraison.quantite,livraison.article)"
                                                        pButton icon="pi pi-replay" label="Changer"
                                                        class="p-button-warning"></button>
                                                    <button [disabled]="!edition" *ngIf="!livraison.validation"
                                                        type="button" (click)="validerById(livraison.id)" pButton
                                                        icon="pi pi-external-link" label="Valider"
                                                        class="p-button-success"></button>
                                                    <div *ngIf="livraison.validation" class="text-center">
                                                        Validée le <br>
                                                        {{livraison.dateValidation | date:'dd-MM-yyyy HH:mm:ss'}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="visibleDialog" [style]="{width: '80%'}" [resizable]="true" header="Changement taille"
    [maximizable]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Article</label>
                <input type="text" pInputText id="article" [(ngModel)]="article.libelle" disabled />
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Nouvelle Taille</label><br>
                <p-dropdown *ngIf="article.categoryTaille=='HABITS'" #dd [options]="habits" required name="taille"
                    [(ngModel)]="paramChangement.taille" placeholder="Taille" [showClear]="true">
                </p-dropdown>
                <p-dropdown *ngIf="article.categoryTaille=='POINTURE'" #dd [options]="pointures" required name="taille"
                    [(ngModel)]="paramChangement.taille" placeholder="Taille" [showClear]="true">
                </p-dropdown>
                <p-dropdown *ngIf="article.categoryTaille=='GANT'" #dd [options]="gants" required name="taille"
                    [(ngModel)]="paramChangement.taille" placeholder="Taille" [showClear]="true">
                </p-dropdown>
                <p-dropdown *ngIf="article.categoryTaille=='CHAUSSETTE'" #dd [options]="chaussettes" required
                    name="taille" [(ngModel)]="paramChangement.taille" placeholder="Taille" [showClear]="true">
                </p-dropdown>
            </div>
            <div class="p-field p-col">
                <label for="name">Quantité</label>
                <input type="text" pInputText id="quantite" [(ngModel)]="paramChangement.quantite" required />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-text p-button-success"
            (click)="validerChangement()"></button>
    </ng-template>
</p-dialog>