<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Ajouter Service</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <br>

                    <!-- <div class="container"> -->


                        <div class="card">
                            <p-tabView [(activeIndex)]="activeIndex">
                                <p-tabPanel header="Princial">
                                    <div class="container-fliud">
                                        <div class="wrapper row">
                                            <div class="preview col-md-1">
                                            </div>
                                            <div class="preview col-md-5">
                                                <br><br><br>
                                                <div class="preview-pic tab-content">
                                                    <div class="tab-pane active" id="pic-1">

                                                        <div *ngIf="serviceST.id !=0">
                                                            <img src="assets//images//abn.jpg" width="100%"
                                                                height="100%" />
                                                        </div>
                                                        <div *ngIf="serviceST.id > 0">
                                                            <img [src]="urlphotoST + serviceST.id" width="100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="details col-md-1">
                                            </div>

                                            <div class="details col-md-4">
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 10%;">Libelle:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Libelle" type="text"
                                                                name="libelle" [(ngModel)]="serviceST.libelle">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6" style="margin-top: 4%;">
                                                        <h5 class="price">Nombre des Mois:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput type="text" name="nbrMois"
                                                                placeholder="Nbre Mois" [(ngModel)]="serviceST.nbrMois">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">current price:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-inputNumber name="prix" [(ngModel)]="serviceST.prix"
                                                            placeholder="0.0" [showButtons]="true" mode="currency"
                                                            currency="TND"></p-inputNumber>
                                                    </div>
                                                </div>

                                                <br>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">Category :</h5>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <p-dropdown #dd [options]="sexes" name="sexe"
                                                            [(ngModel)]="serviceST.sexe" placeholder="Sexe"
                                                            [showClear]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">Visibilité :</h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-inputSwitch name="visible"
                                                            [(ngModel)]="serviceST.visible">
                                                        </p-inputSwitch>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-11" style="margin-top: 5%;">
                                                        <div class="action">
                                                            <button mat-raised-button type="submit"
                                                                class="btn btn-danger pull-right" (click)="
                                                                    onAddService()">AJOUTER</button>

                                                            <button routerLink="/services" mat-raised-button
                                                                type="button" class="btn btn-success pull-right"
                                                                style="margin-right: 1%;">ANNULER</button>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                                <p-messages key="photo"></p-messages>
                                                <hr>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price">Changer Photo:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-fileUpload [files]="myfile" name="demo[]" mode="basic"
                                                            customUpload="true"
                                                            (uploadHandler)="upload($event, serviceST.id)"
                                                            accept="image/*">
                                                        </p-fileUpload>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="details col-md-1">
                                            </div>

                                        </div>
                                    </div>

                                </p-tabPanel>








                                <p-tabPanel header="Complementaire">
                                    
                                    <div class="container-fliud">
                                        <div class="wrapper row">
                                            <div class="preview col-md-1">
                                            </div>
                                            <div class="preview col-md-5">
                                                <br><br><br>
                                                <div class="preview-pic tab-content">
                                                    <div class="tab-pane active" id="pic-1">

                                                        <div *ngIf="serviceST.id !=0">
                                                            <img src="assets//images//abn.jpg" width="100%"
                                                                height="100%" />
                                                        </div>
                                                        <div *ngIf="serviceST.id > 0">
                                                            <img [src]="urlphotoST + serviceST.id" width="100%" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="details col-md-1">
                                            </div>

                                            <div class="details col-md-4">
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 10%;">Libelle:</h5>
                                                    </div>
                                                    <div class="col-md-6" >
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Libelle" type="text"
                                                                name="libelle" [(ngModel)]="serviceST.libelle">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6" style="margin-top: 4%;">
                                                        <h5 class="price">Nombre des Mois:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput type="text" name="nbrMois"
                                                                placeholder="Nbre Mois" [(ngModel)]="serviceST.nbrMois">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">current price:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-inputNumber name="prix" [(ngModel)]="serviceST.prix"
                                                            placeholder="0.0" [showButtons]="true" mode="currency"
                                                            currency="TND"></p-inputNumber>
                                                    </div>
                                                </div>

                                                <br>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">Category :</h5>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <p-dropdown #dd [options]="sexes" name="sexe"
                                                            [(ngModel)]="serviceST.sexe" placeholder="Sexe"
                                                            [showClear]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>

                                                <br>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">Visibilité :</h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-inputSwitch name="visible"
                                                            [(ngModel)]="serviceST.visible">
                                                        </p-inputSwitch>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price" style="margin-top: 5%;">Jour :</h5>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <p-dropdown #dd [options]="jours" name="jours"
                                                            [(ngModel)]="serviceST.jours" placeholder="Jours"
                                                            [showClear]="true">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                             
                                                <div class="row">
                                                    <div class="col-md-11" style="margin-top: 5%;">
                                                        <div class="action">
                                                            <button mat-raised-button type="submit"
                                                                class="btn btn-danger pull-right" (click)="
                                                                    onAddService()">AJOUTER</button>

                                                            <button routerLink="/services" mat-raised-button
                                                                type="button" class="btn btn-success pull-right"
                                                                style="margin-right: 1%;">ANNULER</button>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                                <p-messages key="photo"></p-messages>
                                                <hr>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <h5 class="price">Changer Photo:
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p-fileUpload [files]="myfile" name="demo[]" mode="basic"
                                                            customUpload="true"
                                                            (uploadHandler)="upload($event, serviceST.id)"
                                                            accept="image/*">
                                                        </p-fileUpload>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="details col-md-1">
                                            </div>

                                        </div>
                                    </div>
                                    
                                </p-tabPanel>
                            </p-tabView>
                        </div>

                    </div>
                <!-- </div> -->


            </div>
        </div>
    </div>
</div>