<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Bornes</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                                maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true"
                                chooseLabel="Browse"></p-fileUpload>
                            &nbsp;&nbsp;
                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"></button>



                        </ng-template>

                        <ng-template pTemplate="right">
                            <button routerLink="/add-borne" pButton pRipple icon="pi pi-plus" label="Ajouter Borne"
                                class="p-button-success p-mr-2"></button>
                        </ng-template>

                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="bornes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedBorne"
                            styleClass="p-datatable-customers">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="reference">Référence<p-sortIcon field="reference">
                                        </p-sortIcon>
                                    </th>


                                    <th pSortableColumn="counterLongueurRuban">Compteur Ruban<p-sortIcon
                                            field="counterLongueurRuban">
                                        </p-sortIcon>
                                    </th>
                                    <th style="width:4rem">
                                    </th>
                                    <th style="width:4rem">
                                    </th>
                                    <th style="width:4rem">
                                    </th>
                                    <th style="width:5rem"></th>
                                </tr>
                                <tr>
                                    <th>
                                        <input pInputText type="text"
                                            (input)="dt.filter($event.target.value, 'id', 'contains')" placeholder="ID"
                                            class="p-column-filter">
                                    </th>

                                    <th>
                                    </th>
                                    <th>
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-borne>
                                <tr [pSelectableRow]="borne">
                                    <td>{{borne.reference}}</td>

                                    <td>{{borne.counterLongueurRuban}}
                                        <button pButton pRipple type="button" icon=" "
                                            class="p-button-rounded p-button-secondary" (click)="showBasicDialogRouleur()">
                                        </button>

                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" icon=" "
                                            class="p-button-rounded p-button-danger" (click)="showBasicDialog()">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" icon=" "
                                            class="p-button-rounded p-button-warning" (click)="showMaximizableDialog()">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button routerLink="/consulter-borne/{{ borne.id }}" pButton pRipple
                                            type="button" icon="pi pi-search"
                                            class="p-button-rounded p-button-success"></button>
                                    </td>
                                    <td style="float: center;">
                                        <p-inputSwitch (onChange)="openModal(template, borne.id)" name="validation"
                                            [(ngModel)]="borne.maintenance">
                                        </p-inputSwitch>
                                    </td>

                                </tr>
                                <ng-template #template>

                                    <div class="modal-header">
                                        <h5 class="modal-title">CONFIRMATION</h5>
                                        <button type="button" class="close pull-right" aria-label="Close"
                                            (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir Modifier l'état de la Borne. {{ borne.id }}</p>
                                    </div>

                                    <div class="modal-footer">

                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                            (click)="modalRef.hide()">NON</button>

                                        <button mat-raised-button type="button" class="btn btn-success pull-right"
                                            style="margin-right: 1%;" (click)="onActivationBorne(borne.id)">OUI</button>

                                    </div>
                                </ng-template>

                                <p-dialog header="Langeur De Ruban " [(visible)]="displayBasicRouleur"
                                    [style]="{width: '50vw'}" [baseZIndex]="10000">

                                    <p class="text-center" style="margin-top: 5%;"> Langeur De Ruban est :
                                        {{borne.counterLongueurRuban}} TND</p>

                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok"
                                            styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>


                                <p-dialog header="Compteur De Biellets" [(visible)]="displayBasic"
                                    [style]="{width: '50vw'}" [baseZIndex]="10000">

                                    <p class="text-center" style="margin-top: 5%;">La Borne contient :
                                        {{borne.counterBillets}} TND</p>

                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok"
                                            styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>

                                <p-dialog header="Consultation de la Borne : {{borne.reference}}"
                                    [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}"
                                    [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

                                    <img [src]="url" *ngIf="format==='image' && url" height="100%" width="100%"> <br />
                                    <video [src]="url" *ngIf="format==='video' && url" height="100%" width="100%"
                                        controls autoplay></video>
                                    <br />
                                    <input type='file' (change)="onSelectFile($event)" />

                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok"
                                            styleClass="p-button-text">
                                        </p-button>
                                    </ng-template>
                                </p-dialog>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>