<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div style="float: left;">
              <img src="assets\\images\\loginsST.png" style="width: 35px;float: left; margin-right: 10px;">
              <div style="float: left;">
                <h4 class="card-title">Détails Borne</h4>
                <p class="card-category">STADE TUNISIEN</p>
              </div>
            </div>
          </div>
          <br>

          <div class="container">
            <div class="card">
              <div class="container-fliud">
                <div class="preview col-md-1">
                </div>
                <div class="preview col-md-4">
                  <br><br><br>
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1">
                      <img src="assets\\images\\BORNE-BITAKA.jpg" style="margin: 20%;" />
                    </div>
                  </div>
                </div>
                <div class="details col-md-1">
                </div>
                <div class="details col-md-5">
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                  </div>
                  <br>
                  <h2 class="product-title" style="text-align: center;">{{ borne.reference }}</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Date Creation :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.dateCreation}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Capacite Billets :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.capaciteBillets}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Communication :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.communication}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Counter Billets :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.counterBillets}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>counter Longueur Ruban :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.counterLongueurRuban}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Longueur Ruban :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.longueurRuban}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Maintenance :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.maintenance}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Media Filename :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.mediaFilename}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>Seuil Billets Max :</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.seuilMaxBillets}}
                      </h5>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="price"><b>seuil Ruban Min:</b>
                      </h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="price">{{borne.seuilMinRuban}}
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-11" style="margin-top: 5%;">
                      <div class="action">
                        <button style="margin: 5%" class="add-to-cart btn btn-success" type="button"
                          routerLink="/update-borne/{{ borne.id }}">Modifier</button>
                        <button class="like btn btn-default" type="button" routerLink="/bornes">Retour</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>