<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Ajouter Joueur Academie</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom" type="text" name="nom"
                                            [(ngModel)]="joueurAcamedie.nom">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prenom" type="text" name="prenom"
                                            [(ngModel)]="joueurAcamedie.prenom">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sexe" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <p-dropdown #dd [options]="sexes" name="sexe" [(ngModel)]="joueurAcamedie.sexe"
                                        placeholder="Sexe" [showClear]="true">
                                    </p-dropdown>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date de naissance" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <p-calendar [(ngModel)]="date" placeholder="Date Naissance" name="date"
                                        dateFormat="dd-mm-yy" name="date" [yearNavigator]="true" [yearRange]="annees"
                                        [monthNavigator]="true" [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile" name="mobile"
                                            [(ngModel)]="joueurAcamedie.mobile">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Selectionner Parent " disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" style="margin-top: 1%;">
                                    <p-dropdown [options]="itemsParents" [(ngModel)]="joueurAcamedie.parent"
                                        name="parent" [filter]="true" [showClear]="true" optionLabel="mobile"
                                        placeholder="Select a Parent" filterPlaceholder="Search..." filterBy="mobile,nomParent">
                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value" *ngIf="joueurAcamedie.parent">
                                                <div> {{joueurAcamedie.parent.mobile}} -
                                                    {{joueurAcamedie.parent.nomParent}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-parent pTemplate="item">
                                            <div>
                                                <div>{{parent.mobile}} - {{parent.nomParent}} </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <br><br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="onAddJoueurAca()">AJOUTER</button>
                            <button routerLink="/joueur-acamedie" mat-raised-button type="button"
                                class="btn btn-success pull-right" style="margin-right: 1%;">ANNULER</button>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>