<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Update Service</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <br>

                    <div class="container" *ngIf="test === true">
                        <div class="card">
                            <div class="container-fliud">
                                <div class="wrapper row">
                                    <div class="preview col-md-1">
                                    </div>
                                    <div class="preview col-md-5">
                                        <br><br><br>
                                        <div class="preview-pic tab-content">
                                            <div class="tab-pane active" id="pic-1">
                                                <div *ngIf="url === undefined">
                                                    <img [src]="urlphotoService" width="100%" />
                                                </div>
                                                <div *ngIf="url">
                                                    <img [src]="url" width="100%"> <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="details col-md-1">
                                    </div>

                                    <div class="details col-md-4">
                                        <br>
                                        <p-messages key="photo"></p-messages>
                                        <h2 class="product-title">{{ serviceST.libelle }}</h2>
                                

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="price">        
                                                    <form class="md-form">
                                                        <div class="file-field">
                                                          <div class="btn btn-primary btn-sm float-left">
                                                            <span>Choose file</span>
                                                            <br><br>
                                                            <div style="float: left;"> 
                                                                <input type="file" (change)="onSelectFile($event)">
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </form>                                         
                                                </h5>
                                           </div> 
                                        </div>

                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price">Référence:
                                                </h5>
                                            </div>
                                            <div class="col-md-6" style="padding-left: 10%;">
                                                <h5 class="price">{{serviceST.id}}
                                                </h5>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6" style="margin-top: 4%;">
                                                <h5 class="price">Nombre des Mois:
                                                </h5>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" name="nbrMois"
                                                        [(ngModel)]="serviceST.nbrMois">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">current price:
                                                </h5>
                                            </div>

                                            <div class="col-md-6">
                                                <p-inputNumber name="prix" [(ngModel)]="serviceST.prix"
                                                    [showButtons]="true" mode="currency" currency="TND"></p-inputNumber>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">Category :</h5>
                                            </div>

                                            <div class="col-md-6">
                                                <p-dropdown #dd [options]="sexes" name="sexe"
                                                    [(ngModel)]="serviceST.sexe" placeholder="Sexe" [showClear]="true">
                                                </p-dropdown>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">Visibilité :</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <p-inputSwitch name="visible" [(ngModel)]="serviceST.visible">
                                                </p-inputSwitch>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11" style="margin-top: 5%;">
                                                <div class="action">
                                                    <button style="margin: 5%" class="add-to-cart btn btn-success"
                                                        type="button" (click)="openModal(template)">Sauvegarder
                                                    </button>
                                                    <button class="like btn btn-default" type="button"
                                                        routerLink="/consulter-service/{{serviceST.id}}">Retour</button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="details col-md-1">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement ce service.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateService()">OUI</button>

    </div>

</ng-template>