::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;
}

.ui-picklist-button-add{

    background-repeat:no-repeat !important;
    background-position: 0 0 !important;
    }
    .ui-picklist-button-add-all{

    background-repeat:no-repeat !important;
    background-position: 0 0 !important;
    }
    .ui-picklist-button-remove-all{

    background-repeat:no-repeat !important;
    background-position: 0 0 !important;
    }
    .ui-picklist-button-remove{

    background-repeat:no-repeat !important;
    background-position: 0 0 !important;
    }
