<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Ajout Stock</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <br>
                                    <div class="col-md-12">
                                        <div id="pic-1">
                                            <img [src]="urlphotoArticle" width="100%" />
                                        </div>
                                    </div>
                                </div>

                                <div class="details col-md-1">
                                </div>
                                <div class="details col-md-6">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="price" style="margin-top: 10%;">Reference Commande:
                                            </h5>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Référence" type="text" name="reference"
                                                    [(ngModel)]="approvisionnement.reference">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="price" style="margin-top: 5%;">Taille :</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <p-dropdown *ngIf="article.categoryTaille=='HABITS'" #dd [options]="habits"
                                                name="taille" [(ngModel)]="approvisionnement.taille"
                                                placeholder="Taille" [showClear]="true">
                                            </p-dropdown>
                                            <p-dropdown *ngIf="article.categoryTaille=='POINTURE'" #dd
                                                [options]="pointures" name="taille"
                                                [(ngModel)]="approvisionnement.taille" placeholder="Taille"
                                                [showClear]="true">
                                            </p-dropdown>
                                            <p-dropdown *ngIf="article.categoryTaille=='GANT'" #dd [options]="gants"
                                                name="taille" [(ngModel)]="approvisionnement.taille"
                                                placeholder="Taille" [showClear]="true">
                                            </p-dropdown>
                                            <p-dropdown *ngIf="article.categoryTaille=='CHAUSSETTE'" #dd
                                                [options]="chaussettes" name="taille"
                                                [(ngModel)]="approvisionnement.taille" placeholder="Taille"
                                                [showClear]="true">
                                            </p-dropdown>
                                            <p-dropdown *ngIf="article.categoryTaille=='UNIQUE'" #dd [options]="uniques"
                                                name="taille" [(ngModel)]="approvisionnement.taille"
                                                placeholder="Taille" [showClear]="true">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="price" style="margin-top: 5%;">Quantity :</h5>
                                        </div>

                                        <div class="col-md-6">
                                            <p-inputNumber [(ngModel)]="approvisionnement.quantite" name="quantite"
                                                [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                                                spinnerMode="horizontal" [step]="1"
                                                decrementButtonClass="p-button-danger"
                                                incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                                                decrementButtonIcon="pi pi-minus">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="price" style="margin-top: 10%;">Remarque:
                                            </h5>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Observation" type="text" name="observation"
                                                    [(ngModel)]="approvisionnement.observation">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            <div class="action">
                                                <button style="margin-right: 5%" class="like btn btn-danger"
                                                    type="button"
                                                    routerLink="/approvisionnement-article/{{article.id}}">
                                                    Annuler</button>
                                                <button class="add-to-cart btn btn-success" type="button"
                                                    (click)="ngOnAddApprovisionnement()">Valider
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="details col-md-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>