<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Roles</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <button [disabled]="!edition" routerLink="/add-role" pButton pRipple icon="pi pi-plus"
                                label="Ajout Role" class="p-button-success p-mr-2"></button>
                        </ng-template>
                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="roles" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedRole"
                            styleClass="p-datatable-striped" [responsive]="true">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="designation">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Désignation
                                            <p-sortIcon field="designation"></p-sortIcon>
                                            <p-columnFilter type="text" field="designation" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th style="width:10rem"></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-role>
                                <tr [pSelectableRow]="role">
                                    <td><span class="p-column-title">Désignation</span>{{role.designation}}</td>

                                    <td>
                                        <button style="float: left;margin-right: 5px;" [disabled]="!edition"
                                            routerLink="/autorisations-role/{{ role.id }}" pButton pRipple type="button"
                                            icon="pi pi-bars" class="p-button-rounded p-button-success"></button>
                                        <button style="float: left;margin-right: 5px;" [disabled]="!edition"
                                            routerLink="/update-role/{{ role.id }}" pButton pRipple type="button"
                                            icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>