<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png" style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Modification Session Test</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Libelle" type="text" name="libelle"
                                            [(ngModel)]="session.libelle">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Prix:
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-inputNumber name="prix" [(ngModel)]="session.prix" placeholder="0.0"
                                        [showButtons]="true" mode="currency" currency="TND"></p-inputNumber>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Saison Sportive:
                                    </h5>
                                </div>
                                <div class="col-md-6" style="margin-top: 1%;">
                                    <p-dropdown [options]="saisons" (onChange)="findCategories()"
                                        [(ngModel)]="session.saisonSportive" name="saison" [filter]="true"
                                        [showClear]="true" optionLabel="designation" placeholder="Select a saison"
                                        filterPlaceholder="Search By designation">

                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value" *ngIf="session.saisonSportive">
                                                <div> {{session.saisonSportive.designation}}</div>
                                            </div>
                                        </ng-template>

                                        <ng-template let-saison pTemplate="item">
                                            <div class="country-item">
                                                <div>{{saison.designation}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Catégorie:
                                    </h5>
                                </div>
                                <div class="col-md-6" style="margin-top: 1%;">
                                    <p-dropdown [options]="categories" [(ngModel)]="session.categorie" name="categorie"
                                        [filter]="true" [showClear]="true" optionLabel="designation"
                                        placeholder="Select a categorie" filterPlaceholder="Search By designation">

                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value" *ngIf="session.categorie">
                                                <div> {{session.categorie.designation}}</div>
                                            </div>
                                        </ng-template>

                                        <ng-template let-categorie pTemplate="item">
                                            <div class="country-item">
                                                <div>{{categorie.designation}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Début Session:
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-calendar [(ngModel)]="ds" dateFormat="dd-mm-yy" name="ds" [yearNavigator]="true"
                                        [monthNavigator]="true" yearRange="2020:2120" [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Fin Session:
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-calendar [(ngModel)]="fs" dateFormat="dd-mm-yy" name="fs" [yearNavigator]="true"
                                        [monthNavigator]="true" yearRange="2020:2120" [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Début inscriptions:
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-calendar [(ngModel)]="di" dateFormat="dd-mm-yy" name="di" [yearNavigator]="true"
                                        [monthNavigator]="true" yearRange="2020:2120" [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="price" style="margin-top: 5%;">Fin inscriptions:
                                    </h5>
                                </div>
                                <div class="col-md-6">
                                    <p-calendar [(ngModel)]="fi" dateFormat="dd-mm-yy" name="fi" [yearNavigator]="true"
                                        [monthNavigator]="true" yearRange="2020:2120" [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <br><br>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right"
                                (click)="openModal(template)">Valider</button>
                            <button routerLink="/sessions-test" mat-raised-button type="button"
                                class="btn btn-danger pull-right" style="margin-right: 1%;">ANNULER</button>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement cette session.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateSession()">OUI</button>

    </div>

</ng-template>