<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Bornes</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                        </ng-template>

                        <ng-template pTemplate="right">
                            <button [disabled]="!edition" routerLink="/add-borne" pButton pRipple icon="pi pi-plus"
                                label="Ajout Borne" class="p-button-success"></button>
                        </ng-template>

                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="bornes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" styleClass="p-datatable-striped"
                            [responsive]="true">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="reference">Référence<p-sortIcon field="reference">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="maintenance">Etat<p-sortIcon field="maintenance">
                                        </p-sortIcon>
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-borne>
                                <tr [pSelectableRow]="borne">
                                    <td><span class="p-column-title">Référence</span>
                                        <button pButton class="p-button-outlined p-button-rounded"
                                            (click)="showDialogConnexion(borne)" label="{{borne.reference}}"></button>
                                    </td>
                                    <td><span class="p-column-title">Etat</span>
                                        <button [hidden]="!borne.maintenance" pButton style="margin-right: 5px;"
                                            icon="pi pi-ban" class="p-button-rounded p-button-danger"
                                            (click)="openModal(template,borne)">
                                        </button>
                                        <button [hidden]="borne.maintenance" pButton style="margin-right: 5px;"
                                            icon="pi pi-sun" class="p-button-rounded p-button-success"
                                            (click)="openModal(template,borne)">
                                        </button>
                                        <button class="p-button-rounded p-button-warning"
                                            (click)="showDialogMateriel(borne)"
                                            [hidden]="borne.counterBillets < borne.seuilMaxBillets && borne.counterLongueurRuban > borne.seuilMinRuban"
                                            pButton style="margin-right: 5px;" icon="pi pi-exclamation-triangle">
                                        </button>
                                    </td>
                                    <td>
                                        <button pButton style="margin-right: 5px;" icon="pi pi-cog"
                                            class="p-button-rounded p-button-info" (click)="showDialogMateriel(borne)">
                                        </button>
                                        <button pButton style="margin-right: 5px;" icon="pi pi-dollar"
                                            class="p-button-rounded p-button-secondary"
                                            (click)="showBasicDialogCaisse(borne)">
                                        </button>
                                        <button pButton icon="pi pi-video" style="margin-right: 5px;"
                                            class="p-button-rounded p-button-help" (click)="showHibernate(borne)">
                                        </button>
                                        <button pButton style="margin-right: 5px;" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-warning"
                                            routerLink="/update-borne/{{ borne.id }}">
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <p-dialog header="Informations matériel" [(visible)]="displayBasicMateriel"
                        [style]="{width: '50vw'}" [baseZIndex]="10000">
                        <ul *ngIf="borneSelected">
                            <li
                                [class.seuil-critique]="borneSelected.counterLongueurRuban <= borneSelected.seuilMinRuban">
                                Longueur ruban : {{borneSelected.counterLongueurRuban}} (Seuil:
                                {{borneSelected.seuilMinRuban}}, Initiale: {{borneSelected.longueurRuban}})
                            </li>
                        </ul>
                        <ul *ngIf="borneSelected">
                            <li [class.seuil-critique]="borneSelected.counterBillets >= borneSelected.seuilMaxBillets">
                                Nombre billets {{borneSelected.counterBillets}} (Seuil:
                                {{borneSelected.seuilMaxBillets}}, Capacité: {{borneSelected.capaciteBillets}})
                            </li>
                        </ul>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-times" (click)="displayBasicMateriel=false" label="Fermer"
                                styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>

                    <p-dialog header="Informations connexion" [(visible)]="displayBasicConnexion"
                        [style]="{width: '50vw'}" [baseZIndex]="10000">
                        <ul *ngIf="borneSelected">
                            <li> Ip : {{borneSelected.ip}} </li>
                            <li> Port : {{borneSelected.communication}} </li>
                            <br>
                            <li> Numéro : {{borneSelected.numeroEnvoi}} </li>
                        </ul>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-times" (click)="displayBasicConnexion=false" label="Fermer"
                                styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>

                    <p-dialog header="Caisse" [(visible)]="displayBasicCaisse" [style]="{width: '50vw'}"
                        [baseZIndex]="10000">

                        <p *ngIf="caisse" class="text-center" style="margin-top: 5%;">Ventes :
                            {{caisse.montantVente}} TND</p>

                        <p *ngIf="caisse" class="text-center" style="margin-top: 5%;">Retours :
                            {{caisse.montantRetour}} TND</p>

                        <p *ngIf="caisse" class="text-center" style="margin-top: 5%;">Dons :
                            {{caisse.montantDon}} TND</p>

                        <p *ngIf="caisse" class="text-center" style="margin-top: 5%; color: red;">Total :
                            {{caisse.montantCaisse}} TND</p>

                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-arrow-right" routerLink="/historique-caisse/{{ borneSelected.id }}"
                                label="Historique" styleClass="p-button-text"></p-button>
                            <p-button icon="pi pi-times" (click)="displayBasicCaisse=false" label="Fermer"
                                styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>

                    <p-dialog header="Ecran de veille borne" [(visible)]="displayHibernate" [modal]="true"
                        [style]="{'width': '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
                        [resizable]="false">
                        <p-messages key="photo"></p-messages>
                        <div *ngIf="borneSelected" style="text-align: center;">
                            <div *ngIf="!url">
                                <div *ngIf="format=='image'">
                                    <img [src]="urlPhoto + borneSelected.id" style="width: 60%;" />
                                </div>
                                <div *ngIf="format=='video'">
                                    <video [src]="urlPhoto + borneSelected.id" style="width: 60%;" controls></video>
                                </div>
                            </div>
                            <div *ngIf="url">
                                <div *ngIf="format=='image'">
                                    <img [src]="url" style="width: 60%;" />
                                </div>
                                <div *ngIf="format=='video'">
                                    <video [src]="url" style="width: 60%;" controls></video>
                                </div>
                            </div>
                        </div>
                        <br>
                        <span style="margin-left: 5%;">
                            <input type='file' (change)="onSelectFile($event)"
                                accept="file_extension|audio/*|video/*|image/*|media_type" />
                        </span>
                        <ng-template pTemplate="footer">
                            <div>
                                <button pButton type="button" icon="pi pi-check" (click)="upload(borneSelected.id)"
                                    label="Changer l'écran de veille" class="p-button-outlined">
                                </button>
                                <button pButton type="button" icon="pi pi-times" (click)="displayHibernate=false"
                                    label="Fermer" class="p-button-outlined"></button>
                            </div>
                        </ng-template>
                    </p-dialog>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier l'état de la borne.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="maintenance()">OUI</button>

    </div>

</ng-template>