<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png" style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Approvisionnement Article</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class=col-md-4>
                                    <div class="col-md-12">
                                        <div class="col-md-12 text-center">
                                            <h3 class="product-title">{{ article.libelle }}</h3>
                                        </div>
                                        <br>
                                        <div class="col-md-12">
                                            <div id="pic-1">
                                                <img [src]="urlphotoArticle + id" width="100%" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button [disabled]="!edition" class="btn btn-success" type="button"
                                                routerLink="/ajouter-taille/{{ article.id }}"> Ajout Stock </button>

                                            <button class="like btn btn-default" type="button"
                                                routerLink="/consulter-article/{{article.id}}">Retour</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12" *ngIf="article.stocks?.length === 0"
                                            style="margin-bottom: 5%; margin-top: 5%; font-size: large;">
                                            <li>Aucune Taille!</li>
                                        </div>

                                        <div class="col-md-12" *ngIf="article.stocks?.length > 0">
                                            <p-tabView>
                                                <p-tabPanel [header]="item.taille | taillepipe"
                                                    *ngFor="let item of article.stocks; let i = index"
                                                    [selected]="i == 0">
                                                    <div class="col-md-12 text-center">
                                                        <br>
                                                        <h4>Taille : {{item.taille | taillepipe}}
                                                        </h4>
                                                        <br>
                                                        <h4>Quantité : {{item.quantite}}
                                                        </h4>
                                                        <br>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>Ordre&nbsp;</label>
                                                                <p-inputNumber [(ngModel)]="item.ordre"
                                                                    [showButtons]="true">
                                                                </p-inputNumber>
                                                                <p-button icon="pi pi-check" class="p-button-success"
                                                                    (click)="updatePosition(item.id,item.ordre)">
                                                                </p-button>
                                                            </div>
                                                        </div>
                                                        <button [disabled]="!edition || item.quantite>0"
                                                            class="like btn btn-danger" type="button"
                                                            (click)="deleteStock(item.id)">Supprimer la taille</button>
                                                    </div>
                                                </p-tabPanel>
                                            </p-tabView>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>