<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <a href="javascript:void(0)">
                        <img class="img" [src]="urlPhoto" width="100%"> <br />
                    </a>
                    <div class="card-body">
                        <br>
                        <h4 class="card-title">{{joueurAcademie?.nom}} {{joueurAcademie?.prenom}}</h4>
                        <h6 class="card-category text-gray">{{joueurAcademie?.identifiant}}</h6>
                        <br>
                        <a href="javascript:void(0)" [hidden]="!edition"
                            routerLink="/update-joueur-academie/{{ joueurAcademie?.id }}"
                            class="btn btn-danger btn-round">Modifier</a>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Fiche Joueur Académie</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Identifiant
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.identifiant}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Elite
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.elite}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Pin
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.pin}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Nom
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.nom}}
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Prenom
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.prenom}}
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-5">
                                    Sexe
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.sexe}}
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-5">
                                    Date Naissance
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.dateNaissance}}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5">
                                    Mobile
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.mobile}}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-5">
                                    Date Inscription
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.dateInscription | date:'dd-MM-yyyy HH:mm'}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-5">
                                    Date Validation
                                </div>
                                <div class="col-md-7">
                                    {{joueurAcademie?.dateValidation | date:'dd-MM-yyyy HH:mm'}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-5">
                                    Parent
                                </div>
                                <div class="col-md-7" *ngIf="joueurAcademie?.parent == null">
                                    <ul>
                                        N'est pas encore associé à un parent.
                                    </ul>
                                </div>
                                <div class="col-md-7" *ngIf="joueurAcademie?.parent != null">
                                    <ul>
                                        <li>Mobile : {{joueurAcademie.parent.mobile}}</li>
                                        <li>Nom : {{joueurAcademie.parent.nomParent}}</li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    Tenu {{annee}}:
                                </div>
                                <div class="col-md-4" *ngIf="obligationTenu!=null">
                                    Oui
                                </div>
                                <div class="col-md-4" *ngIf="obligationTenu==null">
                                    Non
                                </div>
                                <div class="col-md-4" [hidden]="!consultationGratuite">
                                    <button [hidden]="obligationTenu!=null" pButton icon="pi pi-plus"
                                        style="margin-right: 5px;" class="p-button-rounded p-button-success"
                                        (click)="createTenu()">
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    Inscription {{annee}}:
                                </div>
                                <div class="col-md-4" *ngIf="obligationInscri!=null">
                                    Oui
                                </div>
                                <div class="col-md-4" *ngIf="obligationInscri==null">
                                    Non
                                </div>
                                <div class="col-md-4" [hidden]="!consultationGratuite">
                                    <button [hidden]="obligationInscri!=null" pButton icon="pi pi-plus"
                                        style="margin-right: 5px;" class="p-button-rounded p-button-success"
                                        (click)="createInscri()">
                                    </button>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    Gratuité (%)
                                </div>
                                <div class="col-md-5" *ngIf="gratuite != null;else elseBlock">
                                    {{gratuite.taux}} %
                                    <br>
                                    du {{gratuite.moisDebut | date:'MM-yyyy'}} au
                                    {{gratuite.moisFin | date:'MM-yyyy'}}
                                </div>
                                <ng-template #elseBlock>
                                    <div class="col-md-5">Aucune
                                    </div>
                                </ng-template>
                                <div class="col-md-2">
                                    <button [hidden]="!consultationGratuite"
                                        routerLink="/gratuite-joueur/{{joueurAcademie?.id}}" mat-raised-button
                                        type="button" class="btn btn-success pull-right"
                                        style="margin-right: 1%;">Gérer</button>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Documents Joueur " disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-10">
                                    <app-list-document [someInput]="inputValue" [noDeletion]="noDeletion">

                                    </app-list-document>

                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>

                            <br><br>
                            <button routerLink="/joueur-acamedie" mat-raised-button type="button"
                                class="btn btn-success pull-right" style="margin-right: 1%;">Retour</button>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>