<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Utilisateurs</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <button [disabled]="!edition" routerLink="/add-user" pButton pRipple icon="pi pi-plus"
                                label="Ajout Utilisateur" class="p-button-success p-mr-2"></button>
                        </ng-template>

                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selecteduser"
                            styleClass="p-datatable-striped" [responsive]="true">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="nom">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Nom
                                            <p-sortIcon field="nomUtilisateur"></p-sortIcon>
                                            <p-columnFilter type="text" field="nomUtilisateur" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="telephone">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Téléphone
                                            <p-sortIcon field="telephone"></p-sortIcon>
                                            <p-columnFilter type="text" field="telephone" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="email">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            E-mail
                                            <p-sortIcon field="email"></p-sortIcon>
                                            <p-columnFilter type="text" field="email" display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th style="width:8rem"></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-user>
                                <tr [pSelectableRow]="user">
                                    <td><span class="p-column-title">Nom</span>{{user.nomUtilisateur}}</td>
                                    <td><span class="p-column-title">Téléphone</span>{{user.telephone}}</td>
                                    <td><span class="p-column-title">E-mail</span>{{user.email}}</td>
                                    <td>
                                        <button style="float: left;margin-right: 5px;" [disabled]="!edition"
                                            routerLink="/autorisations/{{ user.username }}" pButton pRipple
                                            type="button" icon="pi pi-bars"
                                            class="p-button-rounded p-button-success"></button>
                                        <button style="float: left;margin-right: 5px;" [disabled]="!edition"
                                            routerLink="/update-user/{{ user.id }}" pButton pRipple type="button"
                                            icon="pi pi-pencil" class="p-button-rounded p-button-warning"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>