<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <a href="javascript:void(0)">
                        <div *ngIf="url === undefined">
                            <img class="img" [src]="urlPhoto" width="100%" />
                        </div>
                        <div *ngIf="url">
                            <img class="img" [src]="url" width="100%"> <br />
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{joueurAcademie.nom}} {{joueurAcademie.prenom}}</h4>
                        <h6 class="card-category text-gray">{{joueurAcademie.identifiant}}</h6>
                        <br>
                        <p-messages key="photo"></p-messages>
                        <a href="javascript:void(0)" style="width: 100%;" class="btn btn-danger btn-sm">
                            <input type="file" (change)="onSelectFile($event)">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Validation Joueur Academie</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nom" type="text" name="nom"
                                            [(ngModel)]="joueurAcademie.nom">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Prenom" type="text" name="prenom"
                                            [(ngModel)]="joueurAcademie.prenom">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Sexe" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <p-dropdown #dd [options]="sexes" name="sexe" [(ngModel)]="joueurAcademie.sexe"
                                        placeholder="Sexe" [showClear]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date de naissance" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <p-calendar name="date" dateFormat="dd-mm-yy" name="date" [yearNavigator]="true"
                                        [yearRange]="annees" [monthNavigator]="true" [(ngModel)]="date"
                                        [touchUI]="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile" type="text" name="mpbile"
                                            [(ngModel)]="joueurAcademie.mobile">
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Selectionner Parent " disabled>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-5" style="margin-top: 1%;">
                                    <p-dropdown [options]="itemsParents" [(ngModel)]="joueurAcademie.parent"
                                        name="parent" [filter]="true" [showClear]="true" optionLabel="mobile"
                                        placeholder="Select a Parent" filterPlaceholder="Recherche..."
                                        filterBy="mobile,nomParent">

                                        <ng-template pTemplate="selectedItem">
                                            <div *ngIf="joueurAcademie.parent">
                                                <div> {{joueurAcademie.parent.mobile}} -
                                                    {{joueurAcademie.parent.nomParent}}</div>
                                            </div>
                                        </ng-template>

                                        <ng-template let-parent pTemplate="item">
                                            <div>
                                                <div>{{parent.mobile}} - {{parent.nomParent}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Documents Joueur " disabled>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-10">

                                    <p-messages></p-messages>
                                    <br>
                                    <p-fileUpload [files]="myfile" customUpload="false" multiple="multiple"
                                        (uploadHandler)="upload($event)" [showUploadButton]="clicked" accept="image/*">

                                        <ng-template pTemplate="content">
                                            <ul *ngIf="uploadedFiles.length">
                                                <li *ngFor="let file of uploadedFiles">
                                                    {{file.name}} - {{file.size}}
                                                    bytes
                                                </li>


                                            </ul>
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-10">
                                    <app-list-document [someInput]="inputValue" [noDeletion]="noDeletion">

                                    </app-list-document>

                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>

                            <br>
                            <br>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                (click)="openModal(template)">Valider</button>
                            <button routerLink="/validation-joueur" mat-raised-button type="button"
                                class="btn btn-success pull-right" style="margin-right: 1%;">ANNULER</button>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                            <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement ce joueur.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateJoueurAcademie()">OUI</button>

    </div>

</ng-template>