::ng-deep .p-inputnumber-buttons-stacked .p-inputnumber-input {
  width: 100%;
}

::ng-deep .p-inputnumber .p-inputnumber-input {
  width: 100%;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;
}

::ng-deep .p-multiselect {
  width: 100%;
}

::ng-deep .mat-button.btn.btn-primary,
.mat-raised-button.btn.btn-primary,
.mat-raised-button.btn:not([class*="mat-elevation-z"]).btn-primary,
.btn.btn-primary {
    background-color: #EF4136;
    width: 100%;
    padding: 5%;
}

