<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Listes Des Services</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            
                            <button pButton pRipple label="Principal" class="p-button-outlined p-button-rounded p-mr-2"
                            (click)="onShowService('principal')"></button>

                            <button pButton pRipple label="Complement"
                                class="p-button-outlined p-button-rounded p-mr-2"
                                (click)="onShowService('complementaire')"></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <button routerLink="/add-service" pButton pRipple icon="pi pi-plus" label="Ajouter Service"
                                class="p-button-success p-mr-2"></button>
                        </ng-template>
                    </p-toolbar>
                    <br>
                    <div *ngIf="typeService === 'principal'">
                        <app-dataview-service [someInput]="inputValue"></app-dataview-service>
                    </div>
                    <div *ngIf="typeService === 'complementaire'">
                        <app-dataview-service [someInput]="inputValue"></app-dataview-service>
                    </div>
                    <div *ngIf="typeService === 'others' ">
                        <app-dataview-service [someInput]="inputValue"></app-dataview-service>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>