<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card ">
                    <div class="card-header  card-header-danger noprint">
                        <div style="float:    left;">
                            <img src="assets\\images\\logoST.png"
                                style="width:2%;float:    left;    margin-right:    2%;">
                            <h4 class="card-title    ">Détails transaction</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <br>
                    <p-toolbar class="noprint">
                        <ng-template pTemplate="left">
                        </ng-template>
                        <ng-template pTemplate="right">
                            <p-button hidden (click)="downloadAsPDF('MyDIv')" label="Export To PDF" icon="pi pi-print">
                            </p-button>
                            <p-button (click)="print('MyDIv')" [style]="{'margin-right': '5px'}" label="Print"
                                icon="pi pi-print">
                            </p-button>
                            <p-button label="Retour" routerLink="/transactions"
                                styleClass="p-button p-button-secondary"></p-button>
                        </ng-template>
                    </p-toolbar>

                    <br>

                    <div id="MyDIv" class="card-body">

                        <html style="padding: 5px;">

                        <body>
                            <header>
                                <h1 style="text-transform: uppercase;">Détails transaction</h1>
                                <br>
                                <address style="margin-top: 2%;margin-left: 1cm;">
                                    <p>STADE TUNISIEN</p>
                                    <p> Rue Marrakech<br>2000 Bardo, Tunis</p>
                                    <p>(+216) 71 505 900 / 71 517 800</p>
                                </address>
                                <span><img alt="" src="assets\\images\\logoST.png" width="16%" style="margin-right: 1cm;"></span>
                            </header>

                            <article>
                                <h1>Recipient</h1>
                                <address>
                                    <div>
                                        <p>{{transaction?.typeClient}}</p>
                                        <br>
                                    </div>
                                    <div>
                                        {{transaction?.nomClient}}
                                    </div>
                                </address>
                                <table class="meta">
                                    <tr>
                                        <th><span>Facture #</span></th>
                                        <td><span>{{transaction?.id}}</span></td>
                                    </tr>
                                    <tr>
                                        <th><span>Date</span></th>
                                        <td><span> {{transaction?.dateTransaction| date: 'dd-MM-yyyy HH:mm'}}</span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="transaction?.achats.length==0">
                                        <th><span>Montant</span></th>
                                        <td><span>{{transaction?.totalApresRemise}} </span><span id="prefix">
                                                TND</span>
                                        </td>
                                    </tr>
                                </table>


                                <table *ngIf="transaction?.achats.length>0" class="inventory">
                                    <thead>
                                        <tr>
                                            <th><span>Produit</span></th>
                                            <th><span>Détail</span></th>
                                            <th><span>Joueur</span></th>
                                            <th><span>Taille</span></th>
                                            <th><span>Quantité</span></th>
                                            <th><span>Prix</span></th>
                                            <th><span>Remise</span></th>
                                            <th><span>Prix Final</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let a of achats">
                                            <td style="text-align: center; vertical-align: middle;">
                                                <span>{{a.libelleProduit}}</span>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <div *ngIf="a.type === 'SERVICE_COMPLEMENTAIRE'; else elseBlock">
                                                    {{a.jours}} <br><br> {{a.mois}}
                                                </div>
                                                <ng-template #elseBlock>
                                                    <div *ngIf="a.type === 'SERVICE_PRINCIPAL' ; else elseBlock2">
                                                        {{a.mois}}
                                                    </div>
                                                    <ng-template #elseBlock2>
                                                        <div *ngIf="a.annee != null ; else elseBlock3">
                                                            {{a.annee}}
                                                        </div>
                                                        <ng-template #elseBlock3>
                                                            <div>---
                                                            </div>
                                                        </ng-template>
                                                    </ng-template>

                                                </ng-template>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <div *ngIf="a.joueur != null">
                                                    <div>
                                                        {{a.joueur.nom}} {{a.joueur.prenom}}
                                                    </div>
                                                </div>
                                                <div *ngIf="a.joueur == null">
                                                    ---
                                                </div>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <div *ngIf="a.taille == null">
                                                    ---
                                                </div>
                                                <div>
                                                    <span>{{a.taille}}</span>
                                                </div>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <div *ngIf="a.quantite==0 || a.quantite==null">
                                                    ---
                                                </div>
                                                <div *ngIf="a.quantite>0">
                                                    {{a.quantite}}
                                                </div>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <span>{{a.montantAvantRemise}}</span> <span data-prefix> TND </span>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <span>{{a.montantRemise}}</span><span data-prefix> TND </span></td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <span>{{a.montantApresRemise}}</span>
                                                <span data-prefix> TND </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table *ngIf="transaction?.achats.length>0" class="balance">
                                    <tr>
                                        <th><span>Total</span></th>
                                        <td><span>{{transaction?.totalAvantRemise}}</span><span data-prefix>
                                                TND</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>Remise</span></th>
                                        <td><span>{{transaction?.totalRemise}}</span><span data-prefix>
                                                TND</span></td>
                                    </tr>
                                    <tr>
                                        <th><span>Apres Remise</span></th>
                                        <td><span>{{transaction?.totalApresRemise}}</span><span data-prefix>
                                                TND</span>
                                        </td>
                                    </tr>
                                </table>
                            </article>
                            <aside>
                                <h1>
                                    <span>
                                        <div style="margin-bottom: 5px;">Notes</div>
                                    </span>
                                </h1>
                                <div>
                                    <p>Cette transaction ont été réalisés à travers la borne :
                                        {{transaction?.borne.reference}} </p>
                                </div>
                            </aside>
                        </body>

                        </html>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>