<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div style="float: left;">
              <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
              <h4 class="card-title ">Listes Des Articles</h4>
              <p class="card-category"> STADE TUNISIEN</p>
            </div>
          </div>
          <br>
          <div class="container" *ngIf="test === false">
            <div class="card">
              <div class="container-fliud">
                <div class="wrapper row">
                  <div class="preview col-md-1">
                  </div>
                  <div class="preview col-md-5">
                    <br><br><br>
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1">
                        <img [src]="urlphotoServiceST" width="100%" />
                      </div>
                    </div>
                  </div>
                  <div class="details col-md-1">
                  </div>
                  <div class="details col-md-4">
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <!-- <button style="margin-bottom: 20%; float: left;" class="add-to-cart btn btn-warning" type="button"
                            routerLink="/approvisionnement-article/{{ serviceST.id }}">Approvisonnement</button> -->
                      </div>
                    </div>
                    <br>
                    <h2 class="product-title">{{ serviceST.libelle }}</h2>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Référence:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceST.id}}
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Nombre des Mois:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceST.nbrMois}}
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Jours :
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">
                          {{serviceSTC.jours}}
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">current price:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceST.prix}} &nbsp; TND
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Category:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceST.sexe}}
                        </h5>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Visibilité :
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">
                          <p-inputSwitch name="visible" [(ngModel)]="serviceST.visible" disabled>
                          </p-inputSwitch>
                        </h5>
                      </div>
                    </div>
                    <br>


                    <div class="row">
                      <div class="col-md-11" style="margin-top: 5%;">
                        <div class="action">
                          <button style="margin: 5%" class="add-to-cart btn btn-success" type="button"
                            routerLink="/update-service/{{ serviceST.id }}">Update</button>
                          <button class="like btn btn-default" type="button" routerLink="/services">Retour</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- -->
          

          <div class="container" *ngIf="test === true">
            <div class="card">
              <div class="container-fliud">
                <div class="wrapper row">
                  <div class="preview col-md-1">
                  </div>
                  <div class="preview col-md-5">
                    <br><br><br>
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1">
                        <img [src]="urlphotoServiceST" width="100%" />
                      </div>
                    </div>
                  </div>
                  <div class="details col-md-1">
                  </div>
                  <div class="details col-md-4">
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                      </div>
                    </div>
                    <br>
                    <h2 class="product-title">{{ serviceSTC.libelle }}</h2>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Référence:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceSTC.id}}
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Nombre des Mois:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceSTC.nbrMois}}
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">current price:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceSTC.prix}} &nbsp; TND
                        </h5>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Category:
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">{{serviceSTC.sexe}}
                        </h5>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="price">Visibilité :
                        </h5>
                      </div>
                      <div class="col-md-6" style="padding-left: 10%;">
                        <h5 class="price">
                          <p-inputSwitch name="visible" [(ngModel)]="serviceSTC.visible" disabled>
                          </p-inputSwitch>
                        </h5>
                      </div>
                    </div>
                    <br>




                    <div class="row">
                      <div class="col-md-11" style="margin-top: 5%;">
                        <div class="action">
                          <button style="margin: 5%" class="add-to-cart btn btn-success" type="button"
                            routerLink="/update-service/{{ serviceST.id }}">Update</button>
                          <button class="like btn btn-default" type="button" routerLink="/services">Retour</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>