<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Ajouter Article</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>
                    <br>

                    <div class="container">
                        <div class="card">
                            <div class="container-fliud">
                                <div class="wrapper row">
                                    <div class="preview col-md-1">
                                    </div>
                                    <div class="details col-md-4">
                                        <br><br>
                                        <p-messages key="photo"></p-messages>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price">Charger l'image:
                                                </h5>
                                            </div>
                                            <div class="col-md-6">
                                                <!-- <p-fileUpload [files]="myfile" name="demo[]" mode="basic"
                                                    customUpload="true" (uploadHandler)="upload($event, article.id)"
                                                    accept="image/*">
                                                </p-fileUpload> -->

                                                <input type='file' (change)="onSelectFile($event)" />

                                            </div>

                                        </div>
                                        <br>
                                        <hr>

                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 10%;">Libelle:
                                                </h5>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Libelle" type="text" name="libelle"
                                                        [(ngModel)]="article.libelle">
                                                </mat-form-field>
                                                <!-- <input type="text" name="libelle" [(ngModel)]="article.libelle" /> -->
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">current price:
                                                </h5>
                                            </div>
                                            <div class="col-md-6">
                                                <p-inputNumber name="prix" [(ngModel)]="article.prix" placeholder="0.0"
                                                    [showButtons]="true" mode="currency" currency="TND"></p-inputNumber>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">Category :</h5>
                                            </div>

                                            <div class="col-md-6">
                                                <p-dropdown #dd [options]="sexes" name="sexe" [(ngModel)]="article.sexe"
                                                    placeholder="Sexe" [showClear]="true">
                                                </p-dropdown>
                                            </div>
                                        </div>

                                        <br>

                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="price" style="margin-top: 5%;">Quantity :</h5>
                                            </div>

                                            <div class="col-md-6">
                                                <p-inputNumber style="width: 100%;" [(ngModel)]="article.quantite"
                                                    [showButtons]="true" buttonLayout="horizontal" inputId="horizontal"
                                                    spinnerMode="horizontal" [step]="1"
                                                    decrementButtonClass="p-button-danger"
                                                    incrementButtonClass="p-button-success"
                                                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                                                </p-inputNumber>
                                            </div>
                                        </div> -->
                                        <br>

                                        <div class="row">
                                            <div class="col-md-11" style="margin-top: 5%;">
                                                <div class="action">
                                                    <button mat-raised-button type="submit"
                                                        class="btn btn-danger pull-right"
                                                        (click)="onAddArticle()">AJOUTER</button>
                                                    <button routerLink="/articles" mat-raised-button type="button"
                                                        class="btn btn-success pull-right"
                                                        style="margin-right: 1%;">ANNULER</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="details col-md-1">
                                    </div>
                                    <div class="preview col-md-5">
                                        <br><br><br>
                                        <div class="preview-pic tab-content">
                                            <div class="tab-pane active" id="pic-1">
                                                <div>
                                                    <img [src]="url" *ngIf="format==='image' && url" width="100%"
                                                        height="100%">
                                                </div>
                                                <div *ngIf="url ===null">
                                                    <img src="assets//images//Product.png" width="100%" height="100%" />
                                                </div>

                                                <br />
                                                <!-- <div *ngIf="article.id !=0">
                                                    <img src="assets//images//Product.png" width="100%" height="100%" />
                                                </div> -->


                                                <!-- <div *ngIf="article.id > 0">
                                                    <img [src]="urlphotoArticle + article.id" width="100%" />
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="details col-md-1">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<ng-template #template>

    <div class="modal-header">
        <h5 class="modal-title">CONFIRMATION</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir modifier définitivement cet article.</p>
    </div>

    <div class="modal-footer">

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

        <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
            (click)="ngOnUpdateArticle()">OUI</button>

    </div>

</ng-template>