<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div style="float: left;">
              <img src="assets\\images\\logoST.png" style="width: 35px;float: left; margin-right: 10px;">
              <div style="float: left;">
                <h4 class="card-title">Détails Service</h4>
                <p class="card-category">STADE TUNISIEN</p>
              </div>
            </div>
          </div>
          <br>
          <div class="card-body">
            <div class="row" *ngIf="typeService === 'principal'">
              <div class="col-md-4">
                <br>
                <div class="row">
                  <div class="col-md-12" id="pic-1">
                    <img [src]="urlphotoServiceST" style="max-width: 100%;" />
                  </div>
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-6">
                <br>
                <h2 class="product-title">{{ servicePrincipal.libelle }}</h2>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Nombre des Mois:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{servicePrincipal.nbrMois}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Sexe:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{servicePrincipal.sexe}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Prix:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{servicePrincipal.prix}} &nbsp; TND
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Visibilité :
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">
                      <p-inputSwitch name="visible" [(ngModel)]="servicePrincipal.visible" disabled>
                      </p-inputSwitch>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Ordre:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{servicePrincipal.ordre}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button [disabled]="!edition" class="add-to-cart btn btn-success pull-right" type="button"
                      routerLink="/update-service/{{ servicePrincipal.id }}">Modifier</button>
                    <button class="like btn btn-default pull-right" type="button" routerLink="/services">Retour</button>
                    <button [disabled]="!edition" class="add-to-cart btn btn-danger pull-right" type="button"
                      (click)="deletePrincipal(servicePrincipal.id)">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- -->


            <div class="row" *ngIf="typeService === 'autre'">
              <div class="preview col-md-4">
                <br>
                <div class="row">
                  <div class="col-md-12" id="pic-1">
                    <img [src]="urlphotoServiceST" style="max-width: 100%;" />
                  </div>
                </div>
              </div>
              <div class="details col-md-1">
              </div>
              <div class="details col-md-6">
                <br>
                <h2 class="product-title">{{ serviceAutre.libelle }}</h2>
                <br>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Sexe:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceAutre.sexe}}
                    </h5>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Prix:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceAutre.prix}} &nbsp; TND
                    </h5>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Visibilité :
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">
                      <p-inputSwitch name="visible" [(ngModel)]="serviceAutre.visible" disabled>
                      </p-inputSwitch>
                    </h5>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <button class="add-to-cart btn btn-success pull-right" type="button"
                      routerLink="/update-service/{{ serviceAutre.id }}">Modifier</button>
                    <button class="like btn btn-default pull-right" type="button" routerLink="/services">Retour</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- -->



            <div class="row" *ngIf="typeService === 'complementaire'">
              <div class="col-md-4">
                <br>
                <div class="row">
                  <div class="col-md-12" id="pic-1">
                    <img [src]="urlphotoServiceST" style="max-width: 100%;" />
                  </div>
                </div>
              </div>
              <div class="details col-md-1">
              </div>
              <div class="details col-md-6">
                <br>
                <h2 class="product-title">{{ serviceComplementaire.libelle }}</h2>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Nombre des Mois:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceComplementaire.nbrMois}}
                    </h5>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Jours :
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">
                      {{serviceComplementaire.jours}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Sexe:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceComplementaire.sexe}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Prix:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceComplementaire.prix}} &nbsp; TND
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Visibilité :
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">
                      <p-inputSwitch name="visible" [(ngModel)]="serviceComplementaire.visible" disabled>
                      </p-inputSwitch>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Elite :
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">
                      <p-inputSwitch name="visible" [(ngModel)]="serviceComplementaire.elite" disabled>
                      </p-inputSwitch>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="price">Ordre:
                    </h5>
                  </div>
                  <div class="col-md-6" style="padding-left: 10%;">
                    <h5 class="price">{{serviceComplementaire.ordre}}
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="add-to-cart btn btn-success pull-right" type="button"
                      routerLink="/update-service/{{ serviceComplementaire.id }}">Modifier</button>
                    <button class="like btn btn-default pull-right" type="button" routerLink="/services">Retour</button>
                    <button [disabled]="!edition" class="add-to-cart btn btn-danger pull-right" type="button"
                      (click)="deleteComplementaire(serviceComplementaire.id)">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>