<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\logoST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Inscriptions Test</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                        </ng-template>
                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="inscriptions" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedInscription"
                            styleClass="p-datatable-striped" [responsive]="true"
                            [globalFilterFields]="['identifiant','sessionTest.libelle','categorie.designation','nomInscri', 'code', 'mobile']">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <button pButton label="Nettoyer" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(dt)"></button>
                                    <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 100%;" pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Recherche..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="identifiant">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Type
                                            <p-sortIcon field="identifiant"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th pSortableColumn="nom">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Nom
                                            <p-sortIcon field="nom"></p-sortIcon>
                                            <p-columnFilter type="text" field="nomInscri" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="categorie">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Catégorie
                                            <p-sortIcon field="categorie"></p-sortIcon>
                                            <p-columnFilter type="text" field="categorie.designation" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="dateInscription">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Date inscription
                                            <p-sortIcon field="dateInscription"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th pSortableColumn="sessionTest">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Session
                                            <p-sortIcon field="sessionTest"></p-sortIcon>
                                            <p-columnFilter type="text" field="sessionTest.libelle" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th style="width:4rem"></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-inscription>
                                <tr [pSelectableRow]="inscription">
                                    <td><span class="p-column-title" style="float: left;">Type</span>
                                        <div style="float: left;" *ngIf="inscription.identifiant">Interne</div>
                                        <div style="float: left;" *ngIf="inscription.identifiant==null">Externe</div>
                                    </td>
                                    <td><span class="p-column-title">Nom</span>{{inscription.nomInscri}}</td>
                                    <td><span
                                            class="p-column-title">Catégorie</span>{{inscription.categorie.designation}}
                                    </td>
                                    <td><span class="p-column-title">Date
                                            inscription</span>{{inscription.dateInscription | date:'dd-MM-yyyy HH:mm:ss'}}
                                    </td>
                                    <td><span class="p-column-title">Session</span>{{inscription.sessionTest.libelle}}
                                    </td>
                                    <td>
                                        <button routerLink="/update-inscription/{{inscription.id}}" pButton pRipple
                                            type="button" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-success"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>