
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Listes Des Donations</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>

                    <br>
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <button pButton pRipple label="Export" icon="pi pi-download" class="p-button-help"></button>
                        </ng-template>
                    </p-toolbar>

                    <div class="card-body">
                        <p-table #dt [value]="inscriptions" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedInscription"
                            styleClass="p-datatable-customers">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="nom" class="text-center">Nom
                                        <p-sortIcon field="nom">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="prenom" class="text-center">Prenom
                                        <p-sortIcon field="prenom">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mobile" class="text-center">Mobile
                                        <p-sortIcon field="mobile">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="categorie" class="text-center">Categorie
                                        <p-sortIcon field="categorie">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="code" class="text-center">Code
                                        <p-sortIcon field="code">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="dateInscription" class="text-center">Date inscription
                                        <p-sortIcon field="dateInscription">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="SessionTest" class="text-center">Session
                                        <p-sortIcon field="SessionTest">
                                        </p-sortIcon>
                                    </th>
                                    <th style="width:4rem"></th>
                                </tr>
                                <tr>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'nom', 'contains')"
                                            placeholder="nom" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'prenom', 'contains')"
                                            placeholder="prenom" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'mobile', 'contains')"
                                            placeholder="mobile" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'categorie', 'contains')"
                                            placeholder="categorie" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'code', 'contains')"
                                            placeholder="code" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'dateInscription', 'contains')"
                                            placeholder="dateInscription" class="p-column-filter">
                                    </th>
                                    <th>
                                        <input pInputText type="text" style="width: 100%;"
                                            (input)="dt.filter($event.target.value, 'SessionTest', 'contains')"
                                            placeholder="SessionTest" class="p-column-filter">
                                    </th>
                                    <th></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-inscription>
                                <tr [pSelectableRow]="inscription">
                                    <td>{{inscription.nom}}</td>
                                    <td>{{inscription.prenom}}</td>
                                    <td>{{inscription.mobile}}</td>
                                    <td>{{inscription.categorie.designation}}</td>
                                    <td>{{inscription.code}}</td>
                                    <td>{{inscription.dateInscription | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{inscription.sessionTest.libelle}}</td>
                                    <td>
                                        <button routerLink="/consulter-inscription/{{inscription.id}}" pButton pRipple
                                            type="button" icon="pi pi-search"
                                            class="p-button-rounded p-button-success"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>