<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png"
                                style="width: 35px;float: left; margin-right: 10px;">
                            <div style="float: left;">
                                <h4 class="card-title">Transactions</h4>
                                <p class="card-category">STADE TUNISIEN</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-body">

                        <p-table #dt [value]="transactions" [paginator]="true" [rows]="15"
                            [showCurrentPageReport]="true" [sortOrder]="-1" sortField="dateTransaction"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedTransaction"
                            [globalFilterFields]="['id','nomClient','typeClient','parent.mobile', 'joueur.mobile']"
                            styleClass="p-datatable-striped" [responsive]="true">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex">
                                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(dt)"></button>
                                    <span class="p-input-icon-left p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input style="width: 100%;" pInputText type="text"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                            placeholder="Search ..." />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="id">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Ref Transaction
                                            <p-sortIcon field="id"></p-sortIcon>
                                            <p-columnFilter type="text" field="id" display="menu" class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="dateTransaction">Date Transaction<p-sortIcon
                                            field="dateTransaction">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="totalApresRemise">Montant<p-sortIcon field="totalApresRemise">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nomClient">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Client
                                            <p-sortIcon field="nomClient"></p-sortIcon>
                                            <p-columnFilter type="text" field="nomClient" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="typeClient">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Type Client
                                            <p-sortIcon field="typeClient"></p-sortIcon>
                                            <p-columnFilter type="text" field="typeClient" display="menu"
                                                class="p-ml-auto">
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th>Détails</th>
                                </tr>
                            </ng-template>


                            <ng-template pTemplate="body" let-transaction>
                                <tr [pSelectableRow]="transaction">
                                    <td>
                                        <span class="p-column-title">Ref Transaction</span>{{transaction.id}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Date Transaction</span>
                                        {{transaction.dateTransaction| date: 'dd-MM-yyyy HH:mm:ss'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Montant</span> {{transaction.totalApresRemise}} TND
                                    </td>
                                    <td>
                                        <span class="p-column-title">Client</span> {{transaction?.nomClient}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Type Client</span> {{transaction.typeClient}}
                                    </td>
                                    <td><span class="p-column-title">Détails</span>
                                        <button pButton type="button"
                                            class="p-button-outlined p-button-rounded p-button-success" label=" "
                                            routerLink="/consulter-achats/{{ transaction.id }}"><i
                                                class="pi pi-bars"></i></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>