<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <div style="float: left;">
              <img src="assets\\images\\loginsST.png" style="width: 5%;float: left; margin-right: 2%;">
              <h4 class="card-title ">Ajouter Parent</h4>
              <p class="card-category"> STADE TUNISIEN</p>
            </div>
          </div>

          <div class="card-body">
            <form>

              <br>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Information Parent" disabled>
                  </mat-form-field>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Identifiant" type="text" name="identifiant"
                      [(ngModel)]="parent.identifiant">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile" type="text" name="mobile" [(ngModel)]="parent.mobile">
                  </mat-form-field>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" name="nom" [(ngModel)]="parent.nom">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prenom" type="text" name="prenom" [(ngModel)]="parent.prenom">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom" type="text" name="pin" [(ngModel)]="parent.pin">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                (click)="openModal(template)">AJOUTER</button>
              <button routerLink="/parents" mat-raised-button type="button" class="btn btn-success pull-right"
                style="margin-right: 1%;">ANNULER</button>
              <div class="clearfix" style="margin-bottom : 3%"></div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #template>

  <div class="modal-header">
    <h5 class="modal-title">CONFIRMATION</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Êtes-vous sûr de vouloir modifier définitivement ce parent.</p>
  </div>

  <div class="modal-footer">

    <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="modalRef.hide()">NON</button>

    <button mat-raised-button type="button" class="btn btn-success pull-right" style="margin-right: 1%;"
      (click)="ngOnUpdateParent()">OUI</button>

  </div>

</ng-template>