<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <div style="float: left;">
                            <img src="assets\\images\\loginsST.png" style="width: 3%;float: left; margin-right: 2%;">
                            <h4 class="card-title ">Transactions</h4>
                            <p class="card-category"> STADE TUNISIEN</p>
                        </div>
                    </div>

                    <br>

                    <div class="card-body">

                        <p-table #dt [value]="transactions" [paginator]="true" [rows]="15"
                            [showCurrentPageReport]="true"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [rowsPerPageOptions]="[10,25,50]" selectionMode="single" [(selection)]="selectedTransaction"
                            styleClass="p-datatable-customers">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="dateTransaction">Date Transaction<p-sortIcon
                                            field="dateTransaction">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="typeClient">Type Client<p-sortIcon field="typeClient">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="joueur">Joueur<p-sortIcon field="joueur">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="parent">Parent<p-sortIcon field="parent">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="borne">Borne<p-sortIcon field="borne">
                                        </p-sortIcon>
                                    </th>
                                    <th pSortableColumn="achat">Achat<p-sortIcon field="achat">
                                        </p-sortIcon>
                                    </th>
                                    <th style="width:4rem"></th>

                                </tr>

                            </ng-template>


                            <ng-template pTemplate="body" let-transaction>
                                <tr [pSelectableRow]="transaction">
                                    <td>
                                        {{transaction.dateTransaction| date:'shortDate'}},
                                        {{transaction.dateTransaction| date:'shortTime'}}
                                    </td>
                                    <td>
                                        {{transaction.typeClient}}
                                    </td>
                                    <td>
                                        <div *ngIf="transaction.joueur === null">
                                            ---
                                        </div>
                                        <div *ngIf="transaction.joueur != null">
                                            <a routerLink="/consulter-joueur-academie/{{transaction.joueur.id}}"
                                                target="_blank">
                                                {{transaction.joueur.nom}} {{transaction.joueur.prenom}}</a>
                                        </div>

                                    </td>
                                    <td>
                                        <div *ngIf="transaction.parent === null">
                                            ---
                                        </div>
                                        <div *ngIf="transaction.parent != null">
                                            {{transaction.parent.nom}} {{transaction.parent.prenom}}
                                        </div>
                                    </td>
                                    <td>
                                        {{transaction.borne.reference}}
                                    </td>
                                    <td>
                                        <button pButton type="button"
                                            class="p-button-outlined p-button-rounded p-button-success"
                                            label="List Des Achats"></button>
                                    </td>
                                    <td>
                                        <button pButton type="button"
                                            class="p-button-outlined p-button-rounded p-button-danger" label=" "
                                            (click)="showDialogEncaissement()">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </button>

                                        <!-- <button pButton pRipple type="button" icon=" "
                                            class="p-button-rounded p-button-danger" (click)="showDialogEncaissement()">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </button> -->
                                    </td>

                                </tr>

                                <p-dialog header="Achat Information" [(visible)]="displayAchats" [modal]="true"
                                    [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
                                    [draggable]="false" [resizable]="false">
                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.</p>

                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayAchats=false" label="Ok"
                                            styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>



                                <p-dialog header="Remise" [(visible)]="displayEncaissement"
                                    [style]="{width: '50vw'}" [baseZIndex]="10000">
                                    <ul>
                                        <li>
                                            totalAvantRemise : {{transaction.totalAvantRemise}} TND
                                        </li>
                                        <li>
                                            totalApresRemise : {{transaction.totalApresRemise}} TND
                                        </li>
                                        <li>
                                            totalRemise : {{transaction.totalRemise}} TND
                                        </li>
                                    </ul>
                                    <ng-template pTemplate="footer">
                                        <p-button icon="pi pi-check" (click)="displayEncaissement=false"
                                            label="Ok" styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>
                            </ng-template>
                        </p-table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>